body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*!===========HEADER=========!*/

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    margin-right: 76px;
}

.logo-item {
    color: #2e2f42;
}

.menu {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: block;
}

.menu:hover,
.menu:focus {
    color: #404bbf;
}

.nav-header {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

}

.address:hover,
.address:focus {
    color: #404bbf;
}

.section {
    padding: 120px 0;
}

/*!=========FIRST SECTION========!*/

.main-header {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-transform: capitalize;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.first-section {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #4d5ae5;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

/*!=========SECOND SECTION========!*/

.second-section-list {
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list-item {
    width: calc((100% - 72px) / 4);
    gap: 24px;
}

.head-features {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.features {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*!=========THIRD SECTION========!*/

.third-section {
    background-color: #f4f4fd;
}


.section-header {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
}

.team-item-list {
    display: flex;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team-item-img {
    
}

.team-header {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.name-title {
    padding: 32px 0;
}

.job-title {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-item {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

/*!=========FORTH SECTION========!*/

.head-portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1,11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-img-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-img {

}

.head-srvc {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.srvs-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*!=========FOOTER========!*/

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer-txt {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-item-footer {
    color: #f4f4fd;
}